.dropdown {
  position: relative;
  
  &:hover &__wrapper {
    display: block;
  }

  &:hover::before {
    content: "";
    height: 100%;
    padding-bottom: 36px;
    position: absolute;
    top: 0px;
    width: 100%;
  }

  &__wrapper {
    display: none;
    min-width: 246px;
    position: absolute;
    right: 0;
    top: 36px;
    @apply text-grey-extra-dark;

    &::before {
      border-bottom: 10px solid white;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      content: "";
      position: absolute;
      right: 40px;
      top: -10px;
      width: 0;
    }
  }

  &__menu {
    position: relative;

    &:first-of-type, &__sub__item:first-of-type {
      @apply rounded-t-lg;
    }

    &:last-of-type, &__sub__item:last-of-type {
      @apply rounded-b-lg;
    }
    
    &:hover  &__sub {
      display: block;
    }
  
    &__sub {
      display: none;
      left: -246px;
      min-width: 246px;
      position: absolute;
      top: 0;
    }
  }

  &__account__template img {
    max-height: 24px;
    max-width: 24px;
  }
}
