.time__tracker {
  &__separator {
    width: 1px;
    height: 75%;

    @apply bg-grey-light mx-2;
  }
}

button {
  min-width: 110px;

  @apply text-white text-xs py-1;

  &:hover {
    @apply bg-opacity-80;
  }
}
