<div 
  class="time__tracker bg-grey-light bg-opacity-20 self-center py-2 px-4 rounded-3xl flex items-center" 
  *ngIf="config">
  <div class="text-xs mx-4">
    {{ config?.timeTracker.actualTime }} 
    <span 
      class="text-grey-light"
      *ngIf="config?.user.status !== EUserStatus.OFFLINE">
      / {{ config?.timeTracker.totalTime }}
    </span>
  </div>
  <button 
    class="mx-1.5 bg-green-default rounded-3xl" 
    *ngIf="config?.user?.status === EUserStatus.OFFLINE"
    (click)="btnStart()">
      Entrar
  </button>
  <button 
    class="mx-1.5 rounded-3xl" 
    [ngClass]="{ 
      'bg-grey-light' : config?.user?.status === EUserStatus.ONLINE, 
      'bg-green-default' : config?.user?.status === EUserStatus.PAUSED
     }"
    *ngIf="config?.user?.status === EUserStatus.ONLINE || config?.user?.status === EUserStatus.PAUSED"
    (click)="btnPause()">
      {{ config?.user?.status === EUserStatus.ONLINE ? 'Pausar' : 'Continuar' }}
  </button>
  <button 
    class="mx-1.5 bg-salmon rounded-3xl"
    *ngIf="config?.user?.status === EUserStatus.PAUSED || config?.user?.status === EUserStatus.ONLINE"
    (click)="btnFinish()">
      Salir
  </button>
  <div class="time__tracker__separator"></div>
  <app-dropdown [config]="config.dropdown">
    <app-time-tracker-user [user]="config.user"></app-time-tracker-user>
  </app-dropdown>
</div>
