.user__avatar {
  position: relative;

  img {
    max-height: 24px;
    max-width: 24px;
  }

  &__status {
    height: 9px;
    position: absolute;
    right: -4.5px;
    top: calc(50% - 4.5px);
    width: 9px;
    @apply rounded-full;
  }
}