@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
    height: 100%;
}

body {
  @apply text-grey-extra-dark text-base;
}

button:focus {
  outline: none;
}
